<header class="bg-gray-800 text-white p-4">
    <div class="container mx-auto flex justify-between items-center">
        <h1 class="text-xl font-bold">My Portfolio</h1>
        <nav>
            <a href="/" class="px-3 hover:text-gray-300">Home</a>
            <a href="/works" class="px-3 hover:text-gray-300">Works</a>
            <a href="/blog" class="px-3 hover:text-gray-300">Blog</a>
        </nav>
    </div>
</header>